# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
sysinfo.txt
RaftingProject/Temp/

# IDE / Project files
.vscode/
.idea/
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.pdb
*.mdb

# Android/Oculus builds
*.apk
*.aab
*.obb

# Misc
.DS_Store
Thumbs.db

# Unity packages
*.unitypackage
/Packages/com.ptc.vuforia.engine-11.4.4.tgz
com.ptc.vuforia.engine-11.4.4.tgz
Packages/com.ptc.vuforia.engine-11.4.4.tgz

# Large assets
*.fbx
*.png
*.jpg
*.tga
*.psd
*.exr
*.wav
*.mp3
*.mp4

# Large asset folders
RaftingProject/Assets/SUIMONO - WATER SYSTEM 2/
RaftingProject/Assets/TerrainDemoScene_URP/
Assets/TerrainDemoScene_URP/*
Assets/WaterWorks/*
Assets/HDRPDefaultResources/*

# Keep important folders
!ProjectSettings/
!Packages/
